{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Jornal Espinhaço</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
	<div class="topo container-fluid">
		<div class="topo row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4 col-12">
				
				<img src="http://liderancacomvoce.com.br/statics/images/logo.png">
				
			</div>
			<div class="col-sm-4">
				<a href="#">&nbsp&nbsp<i class="fas fa-envelope-square"></i>&nbsp</i></a>
				<a href="http://www.facebook.com/inovaitabira" target="_blank"> <i class="fab fa-facebook-square">&nbsp</i></a>
				<i class="fab fa-whatsapp-square"><strong>&nbsp31 0000-0000</strong></i>
			</div>
		</div>
	</div>	


	<div class="pos-f-t">
	  <div class="collapse" id="navbarToggleExternalContent">
	    <nav id="nav-collapse" class="nav navbar navbar-light flex-column flex-sm-row" style="background-color: #fff;">
		  <a class="flex-sm-fill text-sm-center nav-link " href="{% url 'index' %}">Home</a>
		  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'ultimas' %}">Últimas notícias</a>
			  <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Notícias
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		         <a class="dropdown-item" href="{% url 'geral'%}">Geral</a>
		          <a class="dropdown-item" href="{% url 'politica'%}">Política</a>
		          <a class="dropdown-item" href="{% url 'policia'%}">Polícia</a>
		          <a class="dropdown-item" href="{% url 'entretenimento'%}">Entretenimento</a>
		        </div>
		      </li>
		  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'galeria' %}">Galeria de fotos</a>
		  <a class="flex-sm-fill text-sm-center nav-link" href="{%url 'contato' %}">Contato</a>
		</nav>
	  </div>
	  <nav class="navbar navbar-light bg-light">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	  </nav>
	</div>

	<!-- Barra de Navegação -->
	<nav id="nav-comum" class="nav navbar navbar-light flex-column flex-sm-row" style="background-color: #fff;">
	  <a class="flex-sm-fill text-sm-center nav-link " href="{% url 'index' %}">Home</a>
	  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'ultimas' %}">Últimas notícias</a>
		  <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Notícias
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          <a class="dropdown-item" href="{% url 'geral'%}">Geral</a>
	          <a class="dropdown-item" href="{% url 'politica'%}">Política</a>
	          <a class="dropdown-item" href="{% url 'policia'%}">Polícia</a>
	          <a class="dropdown-item" href="{% url 'entretenimento'%}">Entretenimento</a>
	        </div>
	      </li>
	  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'galeria' %}">Galeria de fotos</a>
	  <a class="flex-sm-fill text-sm-center nav-link" href="{%url 'contato' %}">Contato</a>
	</nav>
	<div class="barra"></div>
	
	<div  id="site">
		<div class="row">
			<div class="col-12">
				<center><img id="propaganda-topo" src="http://liderancacomvoce.com.br/statics/images/banner-anuncie.jpg" "></center>
			</div>

			
				{% block content %}
           		{% endblock %}
			
					<div id="lateral" class="col-sm-3 col-12">
						<h3>Facebook</h3>
						<div class="barra"></div>
						<a href="http://www.facebook.com/inovaitabira"><img style="padding: 10px;" src="http://liderancacomvoce.com.br/statics/images/face.png"></a>
						
						
						<h3>Publicidade</h3>
						<div class="barra" style="margin-bottom: 10px;"></div>
						<img src="http://liderancacomvoce.com.br/statics/images/anuncie.png">
						<h3>Vagas de emprego</h3>
						<div class="barra"></div>
						<a target="_blank" href="http://www.itabira.mg.gov.br/portal/?p=73643"><img style="padding-top: 10px;" src="http://liderancacomvoce.com.br/statics/images/carteira.jpg"></a>
					</div>	
				


			</div>
			<div id="rodape-propaganda">
				<img src="http://liderancacomvoce.com.br/statics/images/publicidades/metabase.png">
			</div>

		</div>
		
	</div>
	<div id="rodape">
		<center><p style="color: black;">Todos dos diretos reservados. Desenvolvido por <a target="_blank" href="http://www.facebook.com/inovaitabira" style="text-decoration: none;color: black;">Inova Comunicação Visual</a> . 2019</p></center>
	</div>
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>