
{% extends 'core/base.html' %}

{% block content %}
<div class="col-sm-9 col-12">

	<h2>Últimas</h2>
						<div class="barra"></div>
						{% for noticia in noticias %}
					<div style="margin-bottom: 10px;">
						
					
						<a href="{% url 'noticia' slug=noticia.slug %}" style="color: black; "><div class="noticia-pequena" style="height: 150px; padding: 5px;">
							{% if noticia.foto %}
							<img src="http://liderancacomvoce.com.br/statics/images/noticias/{{ noticia.foto }}.png" style="width: 40%;height: 150px;">
							{% endif %}
							<div class="texto-ultimas" style="margin-left: 2%; width: {% if noticia.foto %}58%;{%else%}100%; margin-top: 30px;height: 100px; {%endif%}">
								<h1>{{ noticia.titulo }}</h1>
							
							</div>
						</div>
						</a>
						
					</div>	
					{% endfor %}

</div>
{% endblock %}